<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{%static 'css/basestyle.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{%static 'css/navstyle.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    <!-- Navigation-- -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand logo mx-2" href="#">
            <img src="{%static 'images/OLX-Logo-PNG-768x768.jpg'%}" alt="" width="70px" height="70px">
        </a>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-2 ">
    
                <li class="input-group input-group-lg location me-3 flex-1">
                    <input type="text" class="form-control" placeholder="Search location" />
                    <div class="input-group-btn">
                        <button class="fas fa-search ico rounded-1"></button>
                    </div>
                </li>
    
                <li class="input-group input-group-lg search flex-2 me-3">
    
                    <input type="text" class="form-control" placeholder="Find Cars,Mobile Phones and more..." />
                    <div class="input-group-btn">
                        <button class="fas fa-search ico rounded-1"></button>
                    </div>
                </li>
            </ul>
            

            <div class="ms-3 mx-4">
                <a href="{%url 'profile'%}" type="button" class="btn btn-outline-dark"><i class="fa-solid fa-user"></i>Profile</a>
            </div>

            <div class="mx-4">
                <a href="{%url 'product-create'%}" type="button" class="btn btn-warning rounded-pill fw-bolder">+ SELL</a>
            </div>
            
            <div class="ms-3 mx-4">
                <a href="{%url 'signout'%}" type="button" class="btn btn-dark"><i class="fa-solid fa-power-off"></i>logout</a>
            </div>
        </div>
    </nav>
    <!-- Navigation-->
    
    <!-- olx header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">OLX</h1>
                <p class="lead fw-normal text-white-50 mb-0">
                    Buy and Sell for free anywhere in India with OLX Online Classified Advertising
                </p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <div class="container">
        {%block body%}



        {%endblock%}
    </div>
    <!-- Footer-->
    <footer class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{%static 'js/basescript.js'%}"></script>
</body>

</html>