{%extends 'base.html'%}
{%block body%}
{%load static%}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {%if product.image%}
                <img class="card-img-top mb-5 mb-md-0 rounded-4" src="{{product.image.url}}"
                    alt="..." width="500px" height="500px"/>
            </div>

            {%else%}
            <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com//dee2e6/6c757d.jpg" alt="..." />
        </div>

        {%endif%}
        <div class="col-md-6">
            <!-- <div class="small mb-1">{{product.id}}</div> -->
            <h2 class="display-5 ">{{product.name}}</h2><br>
            <div class="fs-5 mb-5">
                <h3 class="display-5 fw-bolder">Rs.{{product.price}}</h3>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            </div>
            <!-- location date -->
            <div class="row">
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title mx-5"><i class="fa-solid fa-location-dot"></i>Location</p><hr>
                      <h6 class="card-text mx-5 fw-bolder">{{product.location}}</h6>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title mx-5"><i class="fa-solid fa-calendar"></i>Posted date</p><hr>
                      <h6 class="card-text mx-5 fw-bolder">{{product.created_date}}</h6>
                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- location date end -->
              <hr style="height:2px;border-width:0;color:gray;background-color:gray">

              <!-- description -->
              <div class="card">
                <h3 class="card-header">Description</h3>
                <div class="card-body">
                  <h5 class="card-title">{{product.description}}</h5>
                 
                </div>
              </div>             
              <!-- description -->
              <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        
            <div class="d-flex">
              <a href="{%url 'place-order' product.id%}" class="btn btn-dark mx-auto" type="button">Chat with seller</a>
                <!-- <button class="btn btn-dark mx-auto" type="button" href="{%url 'place-order' product.id%}">
                    <i class="bi-cart-fill me-1"></i>
                    Buy Now
                </button> -->
            </div>
        </div>
    </div>
    </div>
</section>

{%endblock%}